@import './variable.scss';
.test {
    font-size: 1rem;
    background-color: red;
    width: 100px;
}

h1 {
    color: $red_color;
}

h2 {
    color: blue;
}

.card-course-item {
    margin-top: 16px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 5px;
}