<div class='mt-4'>
    <div class='row'>
        {{#each playList}}
            <div class='col-sm-6 col-lg-4 d-flex align-items-stretch'>
                <div class='card card-course-item'>
                    <a href='/courses/playlists/{{this.name}}'>
                        {{! <img src="..." class="card-img-top" alt="..."> }}
                        <img
                            class='card-img-top'
                            src='{{this.image}}'
                        />
                    </a>
                    <div class='card-body'>
                        <a href='/courses/playlists/{{this.name}}'>
                            <h5 class='card-title'>{{this.name}}</h5>
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
<!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "110892221888829");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v15.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>