<div class="mt-4">
    <h3>LOGIN</h3>
    <form method="POST" action="/login">
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" class="form-control" id="email" name="email" value="20204608">
        </div>
        <div class="form-group">
            <label for="password">mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password" value = "11111111">
        </div>
        <div class="dropdown-divider"></div>
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
    </form>
</div>