<div class="mt-4">
    <-- change method of form -->
    <form method = "POST" action = "">
    <form>
        <div class="mb-3">
            <label for="search-input" class="form-label">tu khoa</label>
            <input type="text" name = "q" class="form-control" id="search-input" placeholder="nhap tu khoa ...">
        </div>
  <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>