<div class="mt-4">
    <h3>SIGN UP</h3>

    <form method="POST" action="/store">
        <div class="form-group">
            <label for="name">Tên</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">mật khẩu</label>
            <input type="text" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="">nhập lại mật khẩu</label>
            <input type="text" class="form-control" id="" name="">
        </div>
        <div></div>
        <button type="submit" class="btn btn-primary">Đăng ký tài khoản</button>
    </form>
</div>