<!DOCTYPE html>
<html lang="en">
<head>
    <title>Video Player</title>
</head>
<body>
        <div class='col-lg-9'>
            <h3>video from server</h3>
            <div class='container h-100 d-flex justify-content-center'>
                
                <video src="/videoplayer" width="932px"  height = "524px"
                    controls></video>
           </div>
        <div class='col-lg-11'>
        <p>video was get from server file directory</p>
        </div>
        </div>

</body>
</html>
