<style>
    footer { margin-top: 200px; text-align: center; padding: 3px;
    background-color: #32373c; color: white; }
</style>
<footer>
    <p>Author: Copy on internet<br />
        <a href='mailto:hege@example.com'>lethien7902@gmail.com</a></p>
</footer>