<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
   
    <a class="navbar-brand" href="/user"> 
    {{!-- <img style='height: 100%; width: 100%;  object-fit: contain' href = "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.youtube.com%2Fhowyoutubeworks%2Fresources%2Fbrand-resources%2F&psig=AOvVaw0KSeFxTD42nBNKRW0siimn&ust=1669817809060000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCOijiZzK0_sCFQAAAAAdAAAAABAJ"/> --}}
    YoohTube
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <a class = "d-flex justify-content-between" href = "/ide">
      Need an IDE?
    </a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
    <form class="d-flex justify-content-between" role="search"  method="POST" action="/courses/search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id = 'search' name='search'>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/courses/create">Đăng video</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/me/stored/courses">my video</a></li>
            {{!-- <li><a class="dropdown-item" href="/signup">log out</a></li> --}}
            <li><a class="dropdown-item" href="/signout">sign out</a></li>
    <li>   
        <form id = "chat-form">
          <input type = "text" id = "chat-mess">
          <button id = "send-chat">send to all</button>
        </form>
    </li> 
          </ul>
        </li>

 

</nav>
<marquee id = "message"></marquee> 


<script src = "/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const chatForm = document.getElementById("chat-form")
  const chatMes = document.getElementById("chat-mess")

  chatForm.addEventListener('submit', (e)=> {
    e.preventDefault()
    const message = chatMes.value 
    socket.emit('on-chat', {
      message : message
    })
    chatMes.value = ''
  })

const messages = document.getElementById('message')
socket.on('user-chat', (message) => {
  //const chat = document.createElement('li')
  //chat.textContent = message.message
  const messageValue = message.message
  messages.innerHTML = "admin xin thông báo: " + messageValue

})

//messages.onfinish = function(){
//    messages.innerHTML = ''
//    messages.loop = 2
//};

</script> 