<div class='mt4'>
    <div class='position-absolute top-500 end-0'>
        <p>YOHHHHHHHHHH</p>
        <ul>
            <a
                href='https://www.youtube.com/watch?v=pT9ZKB4nygw&list=PLKvoOwlacRoIX0Jp34PQAL7McZn4lga57'
            >
                <li>watching on Zootube</li>
            </a>
            <a href='https://pops.vn/search?q=Naruto%20Shippuden'>
                <li>watching on chanel's website</li>
            </a>
            <a href='https://xoilacz.net/'>
                <li>watching on xoilactv</li>
            </a>
        </ul>
    </div>
    <div class='col-lg-9'>
        <h3>xem naruto cực sướng</h3>
        <div class='container h-100 d-flex justify-content-center'>
            <iframe
                width='932'
                height='524'
                src='https://www.youtube.com/embed/{{course.videoId}}'
                title='YouTube video player'
                frameborder='0'
                allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                allowfullscreen
            ></iframe>
        </div>
        <h3>Naruto Tập xnxx? - Đối Thủ!? Sasuke Và Sakura - Trọn Bộ Naruto Lồng
            Tiếng</h3>
    </div>
</div>